.press-start-2p-regular {
   font-family: "Press Start 2P", system-ui;
   font-weight: 400;
   font-style: normal;
}

body {
   margin: 0;
   padding: 0;
   border-width: 0;
   background-color: #f7e3b5;
   color: #333;
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

main {
   flex: 1;
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 1fr 18fr 1fr;
   grid-template-areas:
      "header"
      "container"
      "footer";
   text-align: center;
   max-height: 100vh;
   background-color: #f7e3b5;
}

.container {
   grid-area: container;
   width: 100%;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
   overflow: hidden;
   background-color: #f7e3b5;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: auto;
   grid-template-areas:
      "pet     chatBox   status"
      "chatInput chatInput buttons";
   gap: 10px;
   padding: 32px;
}

.header {
   grid-area: header;
   display: flex;
   height: 80px;
   justify-content: space-between;
   align-items: center;
   background-color: #ffcc80;
   padding: 10px;
   font-weight: bold;
}

.home {
   width: 300px;
}

.status-icon {
   width: 64px;
}

.settings-icon, .calendar-icon {
   width: 40px;
   height: 40px;
}

.settings-icon img, .calendar-icon img, .send img, .play img, .feed img, .home img, .talk-box img {
   width: 100%;
   height: 100%;
   object-fit: contain;
}
.petContainer {
   grid-area: pet;
   display: flex;
   flex-direction: column;
   align-self: center;
   justify-self: center;
   justify-content: right;
   justify-items: right;
   align-items: center;
   height: 100%;
   width: 100%;
   min-height: 320px;
}

.petInfo p{
   font-family: 'Press Start 2P';
   position: relative;
   left: 100%;
}

.petSprite {
   width: 50%;
   height: 50%;
   background-size: contain;
   transform: scale(8);
   image-rendering: pixelated;
   position: relative;
   top: 25%;
   left: 20%;
}

.petSprite:hover {
   transform: scale(9);
   cursor: pointer;
}

.talkBaloonContainer {
   grid-area: chatBox;
   background-color: #b1d690;
   display: flex;
   position: relative;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-left: 45px;
   min-width: 300px;
   min-height: 360px;
   height: 40vh;
   border-radius: 30px;
   font-family: 'Press Start 2P';
   gap: 8px;
}

.status {
   grid-area: status;
   background-color: #b1d690;
   position: relative;
   display: flex;
   flex-direction: column;
   width: 100%;
   min-width: 300px;
   min-height: 360px;
   height: 40vh;
   border-radius: 30px;
   padding: 16px;
   font-family: 'Press Start 2P';
   gap: 8px;
}

.status label {
   margin: 8px;
   font-size: 1.5em;
   color: #f8fae5;
   font-family: 'Press Start 2P';
   text-transform: uppercase;
   text-align: center;
}

.status-container {
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 16px;
}

.status meter {
   width: 100%;
   height: 64px;
}

meter::-webkit-meter-bar {
   transform: scaleY(1.5);
}

.writeBaloonContainer {
   grid-area: chatInput;
   background-color: #b1d690;
   display: flex;
   position: relative;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   border-radius: 30px;
   font-family: 'Press Start 2P';
   gap: 24px;
   padding: 24px;
   width: 100%;
   max-width: 800px;
   height: 192px;
   justify-self: end;
}

.writeBaloonContainer img{
   width: 128px;
}

.buttons {
   grid-area: buttons;
   display: flex;
   flex-direction: row;
   align-items: start;
   justify-content: space-between;
   padding: 0 16px;
   gap: 8px;
   max-width: 500px;
}

.buttons button {
   cursor: pointer;
   background-color: transparent;
   border-color: transparent;
   width: 136px;
}

footer {
   grid-area: footer;
   background-color: #ffcc80;
   padding: 10px;
   font-weight: bold;
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
}

.settings-icon img:hover,
.home img:hover,
.send img:hover,
.play img:hover,
.feed img:hover {
    transform: scale(1.1);  /* Add hover effect */
}

/* CHAT BOX */

.talkBaloonContainer img {
   width: 100%;
   height: 100%;
   min-height: 360px;
   position: absolute;
   z-index: 2;
}

/* Triângulo do balão */
.talkBaloonContainer::before {
   content: "";
   position: absolute;
   left: -45px;
   top: 80px;
   width: 0;
   height: 0;
   border-top: 60px solid transparent;
   border-bottom: 0px solid transparent;
   border-right: 80px solid #b1d690;
   z-index: 1;
 }

 #chat-display {
    text-align: start;
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 10px;
    padding: 10px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
    z-index: 3;
 }
 
.talk-box {
   width: 100%;
   position: absolute;
   z-index: 1;
}

#chat-input {
    z-index: 2;
    width: 90%;
    height: 80%;
    border-radius: 16px;
    padding: 10px;
    border: 3px solid black;
    background: rgba(255, 255, 255, 0.8);
 }
 
 button.send {
    background: none;
    border: none;
 }
 
 button.send img {
    width: 100%;
    height: 100%;
    object-fit: contain;
 }

@keyframes catSprite {
   from {
      background-position: 0 0;
   }
   to {
      background-position: -256px 0;
   }
}

/* CALENDAR */

/* Calendar Toggle Button */
#calendar-toggle-button {
   background-color: #4caf50;
   color: white;
   border: none;
   border-radius: 50%;
   width: 40px;
   height: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#calendar-toggle-button:hover {
   background-color: #45a049;
}

/* Calendar Section */

/* Background overlay */
#calendar-overlay {
   display: none; /* Hidden by default */
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
   z-index: 499; /* Ensure it appears below the calendar but above other elements */
}

#calendar {
   width: 90%;
   max-width: 1000px;
   max-height: 100%;
   overflow-y: auto; /* Add vertical scroll when content surpasses max height */
   padding: 20px;
   text-align: center;
   background-color: #fff;
   border: 1px solid #ccc;
   border-radius: 8px;
   display: none; /* Hidden by default */
   position: fixed; /* Make it a fixed position popup */
   top: 50%; /* Center vertically */
   left: 50%; /* Center horizontally */
   transform: translate(-50%, -50%); /* Center the element */
   z-index: 500; /* Ensure it appears above other elements */
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a shadow for better visibility */
}

.days {
   list-style-type: none;
   padding: 0;
   margin: 0;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.day {
   flex: 1;
   margin: 5px;
   padding: 10px;
   background-color: #fff;
   border: 1px solid #ccc;
   border-radius: 8px;
}

.day h2 {
   font-size: 1.2em;
   color: #333;
}

.hours {
   list-style-type: none;
   padding: 0;
   margin: 0;
   display: flex;
   flex-direction: column;
   margin-top: 10px;
}

.hour-block {
   height: 1.2em;
   margin: 2px 0;
   background-color: #e0e0e0;
   border-radius: 4px;
   position: relative;
   text-align: center;
}

.hour-block.occupied {
   background-color: #c03f3f;
}

/* Config Button */
#calendar-config-button {
   margin-top: 20px;
   padding: 10px 20px;
   background-color: #4caf50;
   color: white;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}

#calendar-config-button:hover {
   background-color: #45a049;
}

/* Popup Styles */
.popup {
   display: none;
   position: fixed;
   left: 0;
   top: 0;
   width: 100vw;
   height: 100vh;
   overflow: auto;
   background-color: rgba(0, 0, 0, 0.4);
   z-index: 501;
   border: 1px solid #000000;
}

.popup-content {
   background-color: #fff;
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%); /* Center the element */
   padding: 20px;
   border: 1px solid #888;
   width: 80%;
   max-width: 400px;
   border-radius: 8px;
   text-align: center;
   z-index: 501;
}

.close-popup {
   color: #aaa;
   float: right;
   font-size: 28px;
   font-weight: bold;
}

.close-popup:hover,
.close-popup:focus {
   color: black;
   text-decoration: none;
   cursor: pointer;
}

.popup-option {
   margin: 10px;
   padding: 10px 20px;
   background-color: #4caf50;
   color: white;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}

.popup-option:hover {
   background-color: #45a049;
}


@media (max-width: 1100px) {
   .bottom-right-image, .bottom-left-image {
      display: none;
   }

   .container {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      grid-template-areas:
         "status  status"
         "pet     chatBox"
         "chatInput chatInput"
         "buttons buttons";
   }

   .writeBaloonContainer {
    grid-area: chatInput;
    background-color: #b1d690;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    font-family: 'Press Start 2P';
    gap: 24px;
    padding: 24px;
    width: 100%;
    max-width: 800px;
    height: 192px;
    justify-self: end;
 }
 
 .writeBaloonContainer img {
    width: 128px;
 }

   main {
      max-height: none;
   }
}

@media (max-width: 700px) {
   .container {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-template-areas:
         "status"
         "pet"
         "chatBox"
         "chatInput"
         "buttons";
   }

   .petSprite {
      left: -20%;
   }

   .talkBaloonContainer {
      margin: 0;
   }

   .talkBaloonContainer::before {
      left: 290px; 
      top: -50px;
      border-top: 0 solid transparent;
      border-bottom: 80px solid #b1d690;
      border-right: 60px solid transparent;
   }
   
}

@media (max-width: 500px) {
   .talkBaloonContainer::before {
      left: 200px; 
   }

   .writeBaloonContainer {
      flex-direction: column;
      height: 360px;
   }

   .home {
      width: 200px;
   }

   .buttons button {
      width: 96px;
   }
}